<br />

<div class="row">
    <div class="col">
        <div class="card text-center border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header"><h4 class="card-title">Total Clients</h4></div>
            <div class="card-body">
              <h3 class="card-title">{{total_client}}</h4>
            </div>
          </div>
          <br />
          <div class="card border-primary text-center mb-3">
            <h3 class="card-header">Top Client</h3>
            <div class="card-body">
              <h5 class="card-title">Name of client</h5>
              <h6 class="card-subtitle text-muted">Client phone number and email</h6>
            </div>
            <img style="height: 200px; width: 100%; display: block;" alt="Card image">
          </div>
    </div>
    <!-- -->
    <div class="col">
        <div class="card text-center border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header"><h4 class="card-title">Total Orders</h4></div>
            <div class="card-body">
              <h3 class="card-title">{{total_order}}</h4>
            </div>
          </div>
          <br />
          <div class="card border-primary text-center mb-3">
            <h3 class="card-header">Most Recent order</h3>
            <div class="card-body">
              <h5 class="card-title">Owner</h5>
              <h6 class="card-subtitle text-muted">Property price and date</h6>
            </div>
            <img style="height: 200px; width: 100%; display: block;" alt="Card image">
          </div>
    </div>
    <!-- -->
    <div class="col">
        <div class="card text-center border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header"><h4 class="card-title">Total Properties</h4></div>
            <div class="card-body">
              <h3 class="card-title">{{total_prop}}</h4>
            </div>
        </div>
        <br />
        <div class="card border-primary text-center mb-3">
          <h3 class="card-header">Most ordered property</h3>
          <div class="card-body">
            <h5 class="card-title">Property title</h5>
            <h6 class="card-subtitle text-muted">Property location and price</h6>
          </div>
          <img style="height: 200px; width: 100%; display: block;" alt="Card image">
        </div>
    </div>
</div>
